// ===COLORS===
$main-wall-color:#262548;
$home-main-container: white;
$h1-letter-color: #a9a7b4;
$container-color:#7F7C9B;
$button-color: rgb(255, 175, 14);
$letters:  rgb(194, 193, 192);

// ===FONTS===
$main-fond: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

// ===PROPS===
$box-shadow: -3px -3px 10px #1b1b1c; 
