// ===COLORS===
$dark-blue:#262548;
$white: rgb(255, 255, 255);
$h1-letter-color: #a9a7b4;
$light-violet:#7F7C9B;
$yellow: rgb(255, 175, 14);
$letters:  rgb(194, 193, 192);

// ===FONTS===
$main-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

// ===PROPS===
$box-shadow: -3px -3px 10px #1b1b1c; 
