.container--ADDNotif {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  top: 30%;
   left: 50%; 
  transform: translate(-50%, -90%); 
  z-index: 999; 
}

.AddWordForm {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #7F7C9B;
  border: 2px solid rgb(168, 166, 163);
  box-shadow: -5px -5px 20px #1b1a1a;

  input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #c1c0c7;
    font-size: 16px;
    outline: none;
  }

  .submitButton {
    background-color: $yellow;
    border: none;
    color: #fff;
    border-radius: 8px;
  }
}