.DetailWord__editForm {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #7F7C9B;
    border: 2px solid rgb(168, 166, 163);
    box-shadow: -5px -5px 20px #1b1a1a;

    input {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #dbdbdb;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #c1c0c7;
        font-size: 16px;
        outline: none;
    }

    .editForm__buttonSection {

        display: flex;
        justify-content:space-around;
        align-items: center;

        .saveBTN,
        .backBTN {
            display: flex;
            justify-content:space-around;
            align-items: center;
            background-color: $yellow;
            width: 30%;
            height: 30px;
            border: none;
            color: #fff;
            border-radius: 8px;
            text-decoration: none;
            transition: transform 0.1s;

            &:hover {
             transform: scale(1.1) ;
         }
        }

        .backBTN {
            background-color: #262548b9;
        }
    }
}