.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .main_container--grid {
        margin: 30px;
        margin-top: 0;
        min-width: 80%;
    }

    .wordBorder {
        display: grid;
        grid-template-columns: 1.5fr 0.5fr 1.2fr 1fr;
        ;
        grid-template-rows: 29px;
        border: 2px solid rgb(168, 166, 163);
        margin: 10px;
        padding-left: 20px;
        box-shadow: $box-shadow;
        background-color: $container-color;
        height: 30px;

        .transWorsDe,
        .transWordCz {
            border: 1px solid rgb(168, 166, 163);
            width: auto;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            justify-content: center;
            align-items: center;
        }

        p.transWorsDe,
        p.transWordCz {
            color: #262548;
            font-size: 15px;
            font-weight: 700;
            text-align: center;
            margin: 5px;
            padding: 1px;
            align-self: center;
            justify-content: center;
        }

        .trans {
            display: flex;
            justify-self: flex-end;
            align-self: center;
            margin-right: 10px;
            font-size: 12px
        }

        .buttonsSection {
            display: flex;
            justify-content: center;
            align-items: center;

            .deleteButton {
                background-color: $button-color;
                border: none;
                color: #fff;
                border-radius: 3px;
                padding: 5px;
                cursor: pointer;
                height: 22px;
                width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: #ff3333;
                }
            }
        }
    }
}